<div class="tabs">
  <div class="tabs__item">Item 1</div>
  <div class="tabs__item">Item 2</div>
  <div class="tabs__item">Item 3</div>
  <div class="tabs__item">Item 4</div>
  <div class="tabs__item">Item 5</div>    
</div>
<div class="manage-bar">
  <div class="resourses">
    <div class="resourses__item">Золото: 43543532</div>
    <div class="resourses__item">Древесина: 4353</div>
    <div class="resourses__item">Уголь: 53243</div>
    <div class="resourses__item">Железо: 43543</div>
    <div class="resourses__item">Еда: 12331</div>
  </div>
</div>